<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="outInventorySheet">出库单管理</a></li>
    <li class="active">出库单</li>
</ol>
<div class="container-fluid">
    <form name="batchForm" novalidate>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">出库单</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-info" style="height:215px">
                            <div class="panel-heading" style="padding:5px;">
                                <h4 class="panel-title">基本信息</h4>
                            </div>
                            <table class="table table-bordered table-condensed clear-marginbottom-table">
                                <tr>
                                    <th width="30%">仓库</th>
                                    <td width="70%">{{batch.warehouse.name}}</td>
                                </tr>
                                <tr>
                                    <th width="30%">创建人</th>
                                    <td width="70%">{{batch.user.username}}</td>
                                </tr>
                                <tr>
                                    <th width="30%">创建时间</th>
                                    <td width="70%">{{batch.operateTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                                </tr>
                                <tr>
                                    <th width="30%">出库人</th>
                                    <td width="70%">{{batch.executeOperator.username}}</td>
                                </tr>
                                <tr>
                                    <th width="30%">出库时间</th>
                                    <td width="70%">{{batch.outInventoryTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                                </tr>
                                <tr>
                                    <th width="30%">出库商品总件数</th>
                                    <td width="70%">{{Math.abs(batch.total)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-info" style="height:215px">
                            <div class="panel-heading" style="padding:5px;">
                                <h4 class="panel-title">备注</h4>
                            </div>
                            <div class="panel-body">
                                <textarea class="form-control" rows="7" ng-model="batch.memo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" ng-show="batch.type == 1">
                        <div class="panel panel-default" style="height:215px">
                            <div class="panel-body">
                                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="outInventory()">确定</button>
                                <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block" ui-sref="outInventorySheet">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th width="15%">SKU</th>
                            <th width="35%">商品名称</th>
                            <th width="20%">库位</th>
                            <th width="15%">应出</th>
                            <th width="15%">实出</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td>
                                {{product.sku}}
                            </td>
                            <td>
                                {{product.name}}
                            </td>
                            <td colspan="3">
                                <ng-form name="positionForm" novalidate ng-repeat="position in product.positions">
                                    <table class="table table-condensed clear-marginbottom-table">
                                        <thead>
                                            <tr>
                                                <td width="40%">
                                                    {{position.name}}
                                                </td>
                                                <td width="30%">
                                                    {{Math.abs(position.total)}}
                                                </td>
                                                <td width="30%">
                                                    <div class="form-group has-feedback" style="margin-bottom: 0" ng-class="{'has-success':(positionForm.actualTotal.$dirty && positionForm.actualTotal.$valid), 'has-warning':(positionForm.actualTotal.$dirty && positionForm.actualTotal.$invalid) }">
                                                        <input type="number" class="form-control input-sm" name="actualTotal" ng-model="position.actualTotal" required min="1" ng-maxlength="5" max="{{Math.abs(position.total)}}"/>
                                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="positionForm.actualTotal.$dirty && positionForm.actualTotal.$valid"></span>
                                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="positionForm.actualTotal.$dirty && positionForm.actualTotal.$invalid"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </ng-form>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
