<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">标签管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a class="btn btn-info btn-xs" ng-click="toggleTagSlide('create')">创建</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">标签列表</h3>
        </div>
        <table class="table table-condensed" ng-if="page.content.length > 0">
            <thead>
                <tr>
                    <th width="10%">编号</th>
                    <th width="80%">标签</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tag in page.content">
                    <th>{{tag.id}}</th>
                    <td>{{tag.name}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-xs" ng-click="updateTag(tag)">
                            <span class="glyphicon glyphicon-edit"></span> 编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="showRemoveTag(tag)">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <nav co-pagination page="page" query="query" search-data="searchData(query)" mode="input"></nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-body" ng-if="page.content.length == 0">
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-info-sign"></span> 没有任何数据被检索到
            </div>
        </div>
    </div>
</div>
<section ng-include="template.operator.url"></section>
<!-- Tag Delete Modal -->
<div class="modal fade" id="tagDeleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">
                    <span class="glyphicon glyphicon-question-sign"></span> <strong>确定删除</strong>
                </h4>
            </div>
            <div class="modal-footer" style="border-top: none">
                <button type="button" class="btn btn-danger" ng-click="removeTag()">确定</button>
            </div>
        </div>
    </div>
</div>
