<p>&nbsp;</p>
<div class="panel panel-default">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="20%">相关文件</th>
                <th width="20%">URL</th>
                <th width="40%">预览</th>
                <th width="20%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>缩略图</td>
                <td>
                    {{product.thumbnailUrl}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.thumbnailUrl}}" style="max-width:500px">
                </td>
                <td>
                    <form id="thumbnailUrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="thumbnailUrl" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 1</td>
                <td>
                    {{product.image1Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image1Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image1UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image1Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 2</td>
                <td>
                    {{product.image2Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image2Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image2UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image2Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 3</td>
                <td>
                    {{product.image3Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image3Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image3UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image3Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 4</td>
                <td>
                    {{product.image4Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image4Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image4UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image4Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 5</td>
                <td>
                    {{product.image5Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image5Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image5UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image5Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 6</td>
                <td>
                    {{product.image6Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image6Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image6UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image6Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 7</td>
                <td>
                    {{product.image7Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image7Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image7UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image7Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 8</td>
                <td>
                    {{product.image8Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image8Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image8UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image8Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
            <tr>
                <td>大图 9</td>
                <td>
                    {{product.image9Url}}
                </td>
                <td>
                    <img ng-src="{{resource.resourceUrl}}{{product.image9Url}}" style="max-width:500px">
                </td>
                <td>
                    <form id="image9UrlForm">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add</span>
                        <input type="file" id="image9Url" name="image" accept="*">
                        </span>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
