<div pageslide ps-open="statusSlideChecked" ps-side="left" ps-speed="0.25" ps-size="700px" style="border-right-width: 1px; border-right-style: solid; border-right-color: #c8c8c8">
    <div id="operator-slider">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="toggleStatusSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="text-success">
                    <strong>选择状态</strong>
                </h3>
            </div>
            <table class="table table-condensed clear-marginbottom-table" ng-show="processes.length > 0">
                <thead>
                    <tr>
                        <th width="30%">流程</th>
                        <th width="70%">状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="process in processes">
                        <td>
                            {{process.name}} 
                            <small class="text-warning" ng-switch on="process.type">
                                <span ng-switch-when="1">(线性)</span>
                                <span ng-switch-when="2">(开关)</span>
                            </small>
                        </td>
                        <td ng-switch on="process.type">
                            <div ng-switch-when="1">
                                <span ng-repeat="step in process.steps | orderBy: 'sequence'"> 
                                    <button type="button" class="btn btn-xs {{step.selected ? 'btn-info' : 'btn-default'}}" style="margin-bottom:5px;" ng-click="selectStatus(step)">
                                        <span class="glyphicon glyphicon-ok" style="color:white" ng-show="step.selected"></span> {{step.name}}
                                    </button>
                                    <span class="glyphicon glyphicon-circle-arrow-right" ng-show="!$last"></span>
                                </span>
                            </div>
                            <div ng-switch-when="2"> 
                                <button type="button" class="btn btn-xs {{step.selected ? 'btn-info' : 'btn-default'}}" ng-repeat="step in process.steps | orderBy: 'sequence'" ng-click="selectStatus(step)" style="margin: 0 5px 5px 0">
                                    <span class="glyphicon glyphicon-ok" style="color:white" ng-show="step.selected"></span> {{step.name}}
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>