<div class="panel-body">
    <h4 class="text-success">
        <strong>组合商品</strong>
    </h4>
</div>
<!-- Member Table -->
<table class="table clear-marginbottom-table">
    <tbody>
        <tr>
            <th width="30%">商品名称</th>
            <th width="5%">一级</th>
            <th width="5%">二级</th>
            <th width="5%">三级</th>
            <th width="5%">四级</th>
            <th width="5%">五级</th>
            <th width="5%">六级</th>
            <th width="5%">七级</th>
            <th width="5%">八级</th>
            <th width="5%">九级</th>
            <th width="5%">十级</th>
            <th width="10%">数量</th>
            <th width="10%">操作</th>
        </tr>
    </tbody>
</table>
<form name="memberForm" novalidate ng-repeat="member in product.members" >
    <table class="table clear-marginbottom-table">
        <tbody>
            <tr>
                <td width="30%">
                    <span ng-show="!member.editable">{{member.product.name + '(' + member.product.sku + ')'}}</span>
                    <span ng-show="member.editable">
                        <ui-select ng-model="member.product">
                            <ui-select-match placeholder="商品(必选)">{{$select.selected.name + '(' + $select.selected.sku + ')'}}</ui-select-match>
                            <ui-select-choices group-by="'sku'" repeat="member in members | filter: $select.search">
                                <div ng-bind-html="member.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </span>
                </td>
                <td width="5%">{{member.product.priceL1 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL2 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL3 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL4 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL5 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL6 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL7 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL8 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL9 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL10 | currency:'':2}}</td>
                <td width="10%">
                    <span ng-show="!member.editable">{{member.quantity}}</span>
                    <div ng-show="member.editable" class="form-group has-feedback" ng-class="{'has-success':(memberForm.quantity.$dirty && memberForm.quantity.$valid), 'has-warning':(memberForm.quantity.$dirty && memberForm.quantity.$invalid) }">
                        <input type="number" name="quantity" ng-model="member.quantity" placeholder="数量(必填)" class="form-control" required min="1" ng-maxlength="5" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="memberForm.quantity.$dirty && memberForm.quantity.$valid"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="memberForm.quantity.$dirty && memberForm.quantity.$invalid"></span>
                    </div>
                </td>
                <td width="10%">
                    <button type="button" class="btn btn-success" ng-click="saveUpdateMember(member, memberForm, $index)" ng-show="member.editable" ng-disabled="!memberForm.quantity.$valid || !member.product">
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-click="updateMember(member, $index)" ng-show="!member.editable">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="showRemoveMember(member, $index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="panel-body" style="padding:0"></div>
<table class="table clear-marginbottom-table" ng-show="product.members.length > 0">
    <tbody>
        <tr>
            <td width="30%"></td>
            <td width="5%" class="success">{{sum.totalPriceL1 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL2 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL3 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL4 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL5 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL6 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL7 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL8 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL9 | currency:'':2}}</td>
            <td width="5%" class="success">{{sum.totalPriceL10 | currency:'':2}}</td>
            <td width="10%"></td>
            <td width="10%"></td>
        </tr>
    </tbody>
</table>
<!-- Member Add Form -->
<form name="memberAddForm" novalidate>
    <table class="table clear-marginbottom-table">
        <tbody>
            <tr>
                <td width="30%">
                    <div class="input-group">
                        <ui-select ng-model="member.product">
                            <ui-select-match placeholder="商品(必选)">{{$select.selected.name + '(' + $select.selected.sku + ')'}}</ui-select-match>
                            <ui-select-choices group-by="'sku'" repeat="member in members | filter: $select.search">
                                <div ng-bind-html="member.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="member.product = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>
                    </div>
                </td>
                <td width="5%">{{member.product.priceL1 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL2 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL3 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL4 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL5 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL6 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL7 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL8 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL9 | currency:'':2}}</td>
                <td width="5%">{{member.product.priceL10 | currency:'':2}}</td>
                <td width="10%">
                    <div class="form-group has-feedback" ng-class="{'has-success':(memberAddForm.quantity.$dirty && memberAddForm.quantity.$valid), 'has-warning':(memberAddForm.quantity.$dirty && memberAddForm.quantity.$invalid) }">
                        <input type="number" name="quantity" ng-model="member.quantity" placeholder="数量(必填)" class="form-control" required min="1" ng-maxlength="50" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="memberAddForm.quantity.$dirty && memberAddForm.quantity.$valid"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="memberAddForm.quantity.$dirty && memberAddForm.quantity.$invalid"></span>
                    </div>
                </td>
                <td width="10%">
                    <button type="button" class="btn btn-success" ng-click="saveMember(memberAddForm, member)" ng-disabled="!memberAddForm.$valid || !member.product">添加</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<!-- Member Delete Modal -->
<div class="modal fade" id="memberDeleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">
                    <span class="glyphicon glyphicon-question-sign"></span> <strong>确定删除</strong>
                </h4>
            </div>
            <div class="modal-footer" style="border-top: none">
                <button type="button" class="btn btn-danger" ng-click="removeMember()">确定</button>
            </div>
        </div>
    </div>
</div>
