<div class="panel panel-default" style="height:600px">
    <div class="panel-body">
        <h4 class="text-success"><strong>{{title}}基本属性</strong></h4>
        <hr>
        <!-- product.brand -->
        <div class="form-group">
            <label class="control-label col-md-2">品牌 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <ui-select ng-model="product.brand">
                    <ui-select-match placeholder="(必选)">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="brand in brands | filter: $select.search | orderBy: 'name'">
                        <div ng-bind-html="brand.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!-- product.category -->
        <div class="form-group">
            <label class="control-label col-md-2">类别 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <ui-select ng-model="product.category">
                    <ui-select-match placeholder="(必选)">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="category in categories | filter: $select.search | orderBy: 'name'">
                        <div ng-bind-html="category.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!-- product.source -->
        <div class="form-group">
            <label class="control-label col-md-2">产地 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <ui-select ng-model="product.source">
                    <ui-select-match placeholder="(必选)">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="source in sources | filter: $select.search | orderBy: 'name'">
                        <div ng-bind-html="source.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!-- product.language -->
        <div class="form-group">
            <label class="control-label col-md-2">默认语言 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <ui-select ng-model="product.language">
                    <ui-select-match placeholder="(必选)">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="language in languages | filter: $select.search">
                        <div ng-bind-html="language.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!-- product.currency -->
        <div class="form-group">
            <label class="control-label col-md-2">默认货币 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <ui-select ng-model="product.currency">
                    <ui-select-match placeholder="(必选)">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="currency in currencies | filter: $select.search">
                        <div ng-bind-html="currency.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!-- product.barcode -->
        <div class="form-group has-feedback" ng-class="{'has-success':(productForm.barcode.$dirty && productForm.barcode.$valid), 'has-warning':(productForm.barcode.$dirty && productForm.barcode.$invalid) }">
            <label class="control-label col-md-2">条码 <span class="text-danger"></span></label>
            <div class="col-md-6">
                <input type="text" name="barcode" ng-model="product.barcode" placeholder="(选填)" class="form-control" ng-maxlength="50"/>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="productForm.barcode.$dirty && productForm.barcode.$valid"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="productForm.barcode.$dirty && productForm.barcode.$invalid"></span>
            </div>
            <span class="col-md-4 help-block" ng-messages="productForm.barcode.$error" ng-show="productForm.barcode.$dirty && productForm.barcode.$invalid">
                <span ng-messages-include="views/error-messages.html" ></span>
            </span>
        </div>
        <!-- product.sku -->
        <div class="form-group has-feedback" ng-class="{'has-success':(productForm.sku.$dirty && productForm.sku.$valid), 'has-warning':(productForm.sku.$dirty && productForm.sku.$invalid) }">
            <label class="control-label col-md-2">SKU <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <input type="text" name="sku" ng-model="product.sku" placeholder="(必填)" class="form-control" required ng-maxlength="50" check-unique="/api/products/check-unique" check-property="sku" check-id="{{product.id}}"/>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="productForm.sku.$dirty && productForm.sku.$valid"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="productForm.sku.$dirty && productForm.sku.$invalid"></span>
            </div>
            <span class="col-md-4 help-block" ng-messages="productForm.sku.$error" ng-show="productForm.sku.$dirty && productForm.sku.$invalid">
                <span ng-messages-include="views/error-messages.html" ></span>
            </span>
        </div>
        <!-- product.name -->
        <div class="form-group has-feedback" ng-class="{'has-success':(productForm.name.$dirty && productForm.name.$valid), 'has-warning':(productForm.name.$dirty && productForm.name.$invalid) }">
            <label class="control-label col-md-2">名称 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <input type="text" name="name" ng-model="product.name" placeholder="(必填)" class="form-control" required ng-maxlength="50" check-unique="/api/products/check-unique" check-property="name" check-id="{{product.id}}"/>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="productForm.name.$dirty && productForm.name.$valid"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="productForm.name.$dirty && productForm.name.$invalid"></span>
            </div>
            <span class="col-md-4 help-block" ng-messages="productForm.name.$error" ng-show="productForm.name.$dirty && productForm.name.$invalid">
                <span ng-messages-include="views/error-messages.html" ></span>
            </span>
        </div>
        <!-- product.shortName -->
        <div class="form-group has-feedback" ng-class="{'has-success':(productForm.shortName.$dirty && productForm.shortName.$valid), 'has-warning':(productForm.shortName.$dirty && productForm.shortName.$invalid) }">
            <label class="control-label col-md-2">简称 <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <input type="text" name="shortName" ng-model="product.shortName" placeholder="(必填，商品打印在快递单上的名字)" class="form-control" required ng-maxlength="50" />
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="productForm.shortName.$dirty && productForm.shortName.$valid"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="productForm.shortName.$dirty && productForm.shortName.$invalid"></span>
            </div>
            <span class="col-md-4 help-block" ng-messages="productForm.shortName.$error" ng-show="productForm.shortName.$dirty && productForm.shortName.$invalid">
                <span ng-messages-include="views/error-messages.html" ></span>
            </span>
        </div>
        <!-- product.weight -->
        <div class="form-group has-feedback" ng-class="{'has-success':(productForm.weight.$dirty && productForm.weight.$valid), 'has-warning':(productForm.weight.$dirty && productForm.weight.$invalid) }">
            <label class="control-label col-md-2">重量(克) <span class="text-danger">*</span></label>
            <div class="col-md-6">
                <input type="number" name="weight" ng-model="product.weight" placeholder="(必填)" class="form-control" required min="0" ng-maxlength="50" />
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="productForm.weight.$dirty && productForm.weight.$valid"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="productForm.weight.$dirty && productForm.weight.$invalid"></span>
            </div>
            <span class="col-md-4 help-block" ng-messages="productForm.weight.$error" ng-show="productForm.weight.$dirty && productForm.weight.$invalid">
                <span ng-messages-include="views/error-messages.html" ></span>
            </span>
        </div>
    </div>
</div>
