<div pageslide ps-open="detailsSlideChecked" ps-side="left" ps-speed="0.25" ps-size="100%">
    <div id="operator-slider">
        <div class="panel panel-info">
            <div class="panel-body">
                <button type="button" class="close" ng-click="closeDetailsSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="productDetailsTabs">
                        <li class="active"><a href="#product-details">详细信息</a></li>
                        <li><a href="#product-statistics">统计信息</a></li>
                        <li><a href="#product-config">配置</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- 详细信息 -->
                        <div id="product-details" class="tab-pane fade in active">
                            <section style="overflow-y:scroll; overflow-x:hidden; padding-right:5px" ng-style="defaultHeight"> 
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-md-4">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">信息</h3>
                                            </div>
                                            <table class="table table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">基本参数</th>
                                                        <th width="80%">值</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="active"><strong>SKU</strong></td>
                                                        <td>{{processProduct.sku}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>名称</strong></td>
                                                        <td>{{processProduct.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>简称</strong></td>
                                                        <td>{{processProduct.shortName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>类型</strong></td>
                                                        <td>
                                                            {{processProduct.productType == 1 ? '组合商品' : '简单商品'}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>品牌</strong></td>
                                                        <td>{{processProduct.brand.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>类别</strong></td>
                                                        <td>{{processProduct.category.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>产地</strong></td>
                                                        <td>{{processProduct.madeFrom.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>默认语言</strong></td>
                                                        <td>{{processProduct.language.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>默认货币</strong></td>
                                                        <td>{{processProduct.currency.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>重量(克)</strong></td>
                                                        <td>{{processProduct.weight}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>Tags</strong></td>
                                                        <td>
                                                            <span class="label label-danger" ng-repeat="tag in processProduct.tags" style="margin: 3px">{{tag.name}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="active"><strong>状态</strong></td>
                                                        <td>
                                                            <span class="label label-success" ng-repeat="process in processProduct.processes" style="margin: 3px">{{process.step.name}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="panel panel-info" ng-show="processProduct.members.length > 0">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">组合商品</h3>
                                            </div>
                                            <table class="table table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="30%">商品名称</th>
                                                        <th width="6%">一级</th>
                                                        <th width="6%">二级</th>
                                                        <th width="6%">三级</th>
                                                        <th width="6%">四级</th>
                                                        <th width="6%">五级</th>
                                                        <th width="6%">六级</th>
                                                        <th width="6%">七级</th>
                                                        <th width="6%">八级</th>
                                                        <th width="6%">九级</th>
                                                        <th width="6%">十级</th>
                                                        <th width="10%">数量</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="member in processProduct.members">
                                                        <td>{{member.product.name}}</td>
                                                        <td>{{member.product.priceL1 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL2 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL3 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL4 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL5 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL6 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL7 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL8 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL9 | currency:'':2}}</td>
                                                        <td>{{member.product.priceL10 | currency:'':2}}</td>
                                                        <td>{{member.quantity}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">默认价格</h3>
                                            </div>
                                            <table class="table table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>一级</th>
                                                        <th>二级</th>
                                                        <th>三级</th>
                                                        <th>四级</th>
                                                        <th>五级</th>
                                                        <th>六级</th>
                                                        <th>七级</th>
                                                        <th>八级</th>
                                                        <th>九级</th>
                                                        <th>十级</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{processProduct.priceL1 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL2 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL3 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL4 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL5 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL6 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL7 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL8 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL9 | currency:'':2}}</td>
                                                        <td>{{processProduct.priceL10 | currency:'':2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">多货币</h3>
                                            </div>
                                            <table class="table table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">货币</th>
                                                        <th>一级</th>
                                                        <th>二级</th>
                                                        <th>三级</th>
                                                        <th>四级</th>
                                                        <th>五级</th>
                                                        <th>六级</th>
                                                        <th>七级</th>
                                                        <th>八级</th>
                                                        <th>九级</th>
                                                        <th>十级</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="mc in processProduct.multiCurrencies">
                                                        <td>{{mc.currency.name}}</td>
                                                        <td>{{mc.priceL1 | currency:'':2}}</td>
                                                        <td>{{mc.priceL2 | currency:'':2}}</td>
                                                        <td>{{mc.priceL3 | currency:'':2}}</td>
                                                        <td>{{mc.priceL4 | currency:'':2}}</td>
                                                        <td>{{mc.priceL5 | currency:'':2}}</td>
                                                        <td>{{mc.priceL6 | currency:'':2}}</td>
                                                        <td>{{mc.priceL7 | currency:'':2}}</td>
                                                        <td>{{mc.priceL8 | currency:'':2}}</td>
                                                        <td>{{mc.priceL9 | currency:'':2}}</td>
                                                        <td>{{mc.priceL10 | currency:'':2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">多语言</h3>
                                            </div>
                                            <table class="table table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">语言</th>
                                                        <th widht="90%">相关描述</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ml in processProduct.multiLanguages">
                                                        <td>{{ml.language.name + ' (' + ml.language.code + ')'}}</td>
                                                        <td>
                                                            <table class="table table-condensed">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="active" width="10%">名称</td>
                                                                        <td>{{ml.name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="active">简称</td>
                                                                        <td>{{ml.shortName}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="active">简单描述</td>
                                                                        <td>{{ml.shortDescription}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="active">完整描述</td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>  
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                        <!-- 统计信息 -->
                        <div id="product-statistics" class="tab-pane fade">
                            统计信息
                        </div>
                        <!-- 配置 -->
                        <div id="product-config" class="tab-pane fade">
                            配置
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
