<div pageslide ps-open="statusSlideChecked" ps-side="left" ps-speed="0.25" ps-size="700px">
    <div id="operator-slider">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="colseStatusSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3>选择状态</h3>
            </div>
            <table class="table" ng-show="processes.length > 0" style="height:100%">
                <thead>
                    <tr>
                        <th width="30%">流程</th>
                        <th width="70%">状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="process in processes">
                        <td>
                            {{process.name}}
                            <small class="text-warning">({{process.type == 1 ? '线性' : '开关'}})</small>
                        </td>
                        <td>
                            <div ng-if="process.type == 1">
                                <span ng-repeat="step in process.steps | orderBy: 'sequence'"> 
                                    <button type="button" class="btn btn-xs" ng-class="{'btn-info': step.selected}" style="margin-bottom:5px;" ng-click="selectState(step)">
                                        <span class="glyphicon glyphicon-ok" style="color:white" ng-show="step.selected"></span> {{step.name}}
                                    </button>
                                    <span class="glyphicon glyphicon-circle-arrow-right" ng-show="!$last"></span>
                                </span>
                            </div>
                            <div ng-if="process.type == 2">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-xs" ng-repeat="step in process.steps | orderBy: 'sequence'" ng-class="{'btn-info': step.selected}" ng-click="selectState(step)">{{step.name}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>