<p>&nbsp;</p>
<form name="purchaseOrderOperatorForm" class="form-horizontal" novalidate>
    <div class="row">
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

            <h4 class="text-success">
                <strong>采购单详情</strong>
            </h4>
            <hr/>

            <div class="form-group has-feedback" ng-show="id">
                <label class="control-label col-md-2">采购单创建时间</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.createTime | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </p>
                </div>
                <label class="control-label col-md-2">采购单最近更新时间</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.lastUpdate | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </p>
                </div>
            </div>

            <!-- 供应商 & 结算货币 -->
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">供应商*</label>
                <div class="col-md-3">
                    <ui-select ng-model="purchaseOrder.supplier" ng-disabled="id" required>
                        <ui-select-match placeholder="供应商(必选)">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="supplier in suppliers | filter: $select.search">
                            <div ng-bind-html="supplier.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="control-label col-md-2">结算货币*</label>
                <div class="col-md-3">
                    <ui-select ng-model="purchaseOrder.currency" ng-disabled="id">
                        <ui-select-match placeholder="结算货币(必选)">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="currency in currencies | filter: $select.search">
                            <div ng-bind-html="currency.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-md-2">预计到货时间</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="(可选)" ng-model="purchaseOrder.estimateReceiveDate">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-md-2">订货方式*</label>
                <div class="col-md-3">
                    <ui-select ng-model="purchaseOrder.bookingType" ng-disabled="id" required>
                        <ui-select-match placeholder="订货方式(必选)">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="bookingType in bookingTypes | filter: $select.search">
                            <div ng-bind-html="bookingType.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="control-label col-md-2">收货总金额</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalDeliveredAmount ? purchaseOrder.totalDeliveredAmount : 0 | currency : '' }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收货人姓名*</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="purchaseOrder.receiveName" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2">Credit总金额</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalCreditAmount ? purchaseOrder.totalCreditAmount : 0 | currency : '' }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收货人电话*</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="purchaseOrder.receivePhone" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2">采购总金额</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalEstimatePurchasedAmount ? purchaseOrder.totalEstimatePurchasedAmount : 0 | currency : '' }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收货人email</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="purchaseOrder.receiveEmail" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2">发票总金额 （实际采购总金额)</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalInvoiceAmount ? purchaseOrder.totalInvoiceAmount : 0 | currency : '' }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收货地址</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="purchaseOrder.receiveAddress" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2">收货总件数</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalDeliveredQty ? purchaseOrder.totalDeliveredQty : 0 }}
                    </p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件邮编</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="purchaseOrder.receivePost" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2">转credit总件数</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalCreditQty ? purchaseOrder.totalCreditQty : 0 }}
                    </p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">备注</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="purchaseOrder.memo" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2">采购总件数</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ purchaseOrder.totalPurchasedQty ? purchaseOrder.totalPurchasedQty : 0 }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</form>
<div class="panel panel-default" ng-include="template.info.items.url">
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="save(purchaseOrder, purchaseOrderOperatorForm.$valid)">
                    <span class="glyphicon glyphicon-floppy-saved"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>
