<div class="panel-body">
    <h4 class="text-success"><strong>采购商品</strong></h4>
    <hr ng-show="purchaseOrder.items.length > 0">
</div>
<!-- item form -->
<form name="itemForm" novalidate>
    <table class="table" ng-show="purchaseOrder.items.length > 0">
        <thead>
            <tr>
                <th>商品外部SKU</th>
                <th>商品sku</th>
                <th>商品外部名称</th>
                <th>商品名称</th>
                <th>商品重量</th>
                <th>采购数量</th>
                <th>采购单价</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in purchaseOrder.items" class="pagination-ul" >
                <td>{{ item.product.externalSku }}</td>
                <td>{{ item.product.sku }}</td>
                <td>{{ item.product.externalName }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.weight }}</td>
                <td>
                    <span ng-show="!item.editable">{{ item.purchaseQty }}</span>
                    <div ng-show="item.editable" class="form-group has-feedback" ng-class="{'has-success':(itemForm.purchaseQty{{$index}}.$dirty && itemForm.purchaseQty{{$index}}.$valid), 'has-warning':(itemForm.purchaseQty{{$index}}.$dirty && itemForm.purchaseQty{{$index}}.$invalid) }">
                        <input type="number" name="purchaseQty{{$index}}" ng-model="item.purchaseQty" placeholder="数量(必填)" class="form-control" required min="1" />
                    </div>
                </td>
                <td>
                    <span ng-show="!item.editable">{{ item.estimatePurchaseUnitPrice | currency : '$'}}</span>
                    <div ng-show="item.editable" class="form-group has-feedback" ng-class="{'has-success':(itemForm.estimatePurchaseUnitPrice{{$index}}.$dirty && itemForm.estimatePurchaseUnitPrice{{$index}}.$valid), 'has-warning':(itemForm.estimatePurchaseUnitPrice{{$index}}.$dirty && itemForm.estimatePurchaseUnitPrice{{$index}}.$invalid) }">
                        <input type="number" name="estimatePurchaseUnitPrice{{$index}}" ng-model="item.estimatePurchaseUnitPrice" placeholder="采购单价(选填)" class="form-control" />
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="saveUpdateItem(item, itemForm, $index)" ng-show="item.editable" ng-disabled="!itemForm.purchaseQty{{$index}}.$valid">
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-click="updateItem(item, $index)" ng-show="!item.editable">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="showRemoveItem(item, $index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<!-- item add form -->
<form name="itemAddForm" novalidate>
    <table class="table">
        <tbody>
            <tr>
                <td width="23%">
                    <!-- selectedPrice -->
                    <div class="input-group">
                        <input type="text" ng-model="purchaseOrder.supplierProductCode" ng-keyup="checkSupplierProductCode()" placeholder="供应商编号(可选)" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="purchaseOrder.selectedProduct.supplierProductCode = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <!--sku（键入自动过滤），商品名称（键入自动过滤），采购数量，供应商编号（可选），采购单价（可选）-->
                <td width="23%">
                    <!-- selectedProduct -->
                    <div class="input-group">
                        <ui-select ng-model="purchaseOrder.selectedProduct">
                            <ui-select-match placeholder="商品(必填)，可键入sku或名称来进行检索">{{$select.selected.name + '(' + $select.selected.sku + ')'}}</ui-select-match>
                            <ui-select-choices group-by="'sku'" repeat="product in products | filter: $select.search">
                                <div ng-bind-html="product.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="purchaseOrder.selectedProduct = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td width="23%">
                    <!-- selectedPrice -->
                    <div class="input-group" ng-show="purchaseOrder.selectedProduct">
                        <input type="number" ng-model="purchaseOrder.selectedProduct.selectedPrice" placeholder="采购单价(必填)" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="purchaseOrder.selectedProduct.selectedPrice = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td width="23%">
                    <!-- purchaseQty -->
                    <div class="form-group has-feedback" ng-class="{'has-success':(itemAddForm.purchaseQty.$dirty && itemAddForm.purchaseQty.$valid), 'has-warning':(itemAddForm.purchaseQty.$dirty && itemAddForm.purchaseQty.$invalid) }">

                        <input type="number" ng-model="purchaseOrder.selectedProduct.purchaseQty" placeholder="数量(必填)" class="form-control" required min="1" ng-maxlength="50" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="itemAddForm.purchaseQty.$dirty && itemAddForm.purchaseQty.$valid"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="itemAddForm.purchaseQty.$dirty && itemAddForm.purchaseQty.$invalid"></span>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="pushItem(itemAddForm, purchaseOrder.selectedProduct); purchaseOrder.selectedProduct = undefined; purchaseOrder.supplierProductCode = undefined;" ng-disabled="!itemAddForm.$valid || !purchaseOrder.selectedProduct || !purchaseOrder.selectedProduct.id || !purchaseOrder.selectedProduct.name">添加</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<!-- item delete Modal -->
<div class="modal fade" id="itemDeleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">
                    <span class="glyphicon glyphicon-question-sign"></span> 确定删除
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="removeItem()">确定</button>
            </div>
        </div>
    </div>
</div>
