<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="purchaseOrder">采购单管理</a></li>
    <li class="active">{{actionLabel}}采购单</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="orderTabs">
                    <li class="active"><a href="#order-info">信息</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- 信息 -->
                    <div id="order-info" ng-controller="PurchaseOrderOperatorInformationController" ng-include="template.info.url" onload="init()" class="tab-pane fade in active"></div>
                </div>
            </div>
        </div>
    </div>
</div>
