<div pageslide ps-open="processSlideChecked" ps-speed="0.25" ps-size="700px" style="border-left-width: 1px; border-left-style: solid; border-left-color: #c8c8c8">
    <div id="operator-slider">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="toggleProcessSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="text-success">
                    <strong>{{processShop.name}}</strong>
                </h3>
            </div>
            <table class="table table-condensed" ng-show="processes.length > 0">
                <thead>
                    <tr>
                        <th width="30%">流程</th>
                        <th width="70%">状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="process in processes">
                        <td>
                            {{process.name}}
                            <small class="text-warning" ng-switch on="process.type">
                                <span ng-switch-when="1">(线性)</span>
                                <span ng-switch-when="2">(开关)</span>
                            </small>
                        </td>
                        <td ng-switch on="process.type">
                            <div ng-switch-when="1">
                                <span ng-repeat="step in process.steps | orderBy: 'sequence'"> 
                                    <button type="button" class="btn btn-xs btn-default" style="margin-bottom:5px;" ng-click="applyState(step)">{{step.name}}</button>
                                    <span class="glyphicon glyphicon-circle-arrow-right" ng-show="!$last"></span>
                                </span>
                            </div>
                            <div ng-switch-when="2">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-xs btn-default" ng-repeat="step in process.steps | orderBy: 'sequence'" ng-click="applyState(step)">{{step.name}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body" ng-if="processes.length == 0">
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-info-sign"></span> 没有检索到任何数据
                </div>
            </div>
        </div>
    </div>
</div>
