<div pageslide ps-open="tunnelSupplierSlideChecked" ps-side="left" ps-speed="0.25" ps-size="700px" style="border-right-width: 1px; border-right-style: solid; border-right-color: #c8c8c8">
    <div id="operator-slider">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="toggleTunnelSupplierSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="text-success">
                    <strong>可选的供应商</strong>
                </h3>
                <hr>
                <ul class="list-unstyled">
                    <li ng-repeat="supplier in optionalSuppliers" style="margin-bottom: 5px">
                        <button type="button" class="btn btn-{{supplier.selected ? 'info' : 'default'}}" ng-click="toggleSupplier(supplier)">
                            <span class="glyphicon glyphicon-record" ng-show="supplier.selected"></span> {{supplier.name}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>