<div pageslide ps-open="tunnelWarehouseSlideChecked" ps-side="left" ps-speed="0.25" ps-size="700px" style="border-right-width: 1px; border-right-style: solid; border-right-color: #c8c8c8">
    <div id="operator-slider">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="closeTunnelWarehouseSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3>可选的供应商</h3>
                <hr>
                <div class="row">
                    <div class="col-md-3" ng-repeat="supplier in operateSuppliers" style="margin-bottom:10px;">
                        <button type="button" class="btn btn-block" ng-class="{'btn-info': supplier.selected}" ng-click="selectTunnelDeploySupplier(supplier)">
                            {{supplier.name}} <span class="glyphicon glyphicon-ok" style="color:white" ng-show="supplier.selected"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>