<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">店铺管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a class="btn btn-info btn-xs" ui-sref="shop.operator">创建</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">店铺列表</h3>
        </div>
        <table class="table table-condensed" ng-if="page.content.length > 0">
            <thead>
                <tr>
                    <th width="12%">店名</th>
                    <th width="5%">类型</th>
                    <th width="5%">启用</th>
                    <th width="5%">货币</th>
                    <th width="6%">价钱等级</th>
                    <th width="61%">店铺订单规则</th>
                    <th width="6%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shop in page.content" ng-class="{active: shop.active}">
                    <td>
                        {{shop.name}}
                    </td>
                    <td ng-switch on="shop.type">
                        <span ng-switch-when="0">自营</span>
                        <span ng-switch-when="1">合作</span>
                    </td>
                    <td ng-switch on="shop.enabled">
                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="true"></span>
                        <span class="glyphicon glyphicon-remove text-danger" ng-switch-when="false"></span>
                    </td>
                    <td>
                        {{shop.currency.name}}
                    </td>
                    <td>
                        {{shop.priceLevel}}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="toggleProcessSlide(shop, 'init')">起始状态</a> : <span class="label label-default">{{shop.initStep.name}}</span>
                            </div>
                            <div class="col-md-3">
                                <a href="javascript:void(0)" class="btn btn-warning btn-xs" ng-click="toggleProcessSlide(shop, 'deploy')">配货状态</a> : <span class="label label-warning">{{shop.deployStep.name}}</span>
                            </div>
                            <div class="col-md-3">
                                <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="toggleProcessSlide(shop, 'complete')">完成状态</a> : <span class="label label-success">{{shop.completeStep.name}}</span>
                            </div>
                            <div class="col-md-3">
                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="toggleProcessSlide(shop, 'error')">错误状态</a> : <span class="label label-danger">{{shop.errorStep.name}}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a ui-sref="shop.operator({id:shop.id})" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> 编辑
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <nav class="page-list">
                            <ul class="pagination pagination-sm">
                                <li ng-class="{disabled: page.first}">
                                    <a href="" ng-click="turnPage(page.number - 1)">&laquo;</a>
                                </li>
                                <li ng-repeat="i in query.list" ng-class="{active: i == page.number}">
                                    <a href="" ng-click="turnPage(i)">{{i+1}}</a>
                                </li>
                                <li ng-class="{disabled: page.last}">
                                    <a href="" ng-click="turnPage(page.number + 1)">&raquo;</a>
                                </li>
                            </ul>
                            <div class="page-total">
                                共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
                                <select class="form-control" style="display: inline; padding:0" ng-model="query.size" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
                                </select>
                            </div>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-body" ng-if="page.content.length == 0">
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-info-sign"></span> 没有检索到任何数据
            </div>
        </div>
    </div>
</div>
<section ng-include="template.process.url"></section>
