<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">流程管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a class="btn btn-info btn-xs" ui-sref="process.operator">创建</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">流程列表</h3>
        </div>
        <table class="table table-condensed" ng-if="page.content.length > 0">
            <thead>
                <tr>
                    <th width="12%">名称</th>
                    <th width="6%">类型</th>
                    <th width="6%">应用对象</th>
                    <th width="8%">自动应用</th>
                    <th width="8%">默认状态</th>
                    <th width="8%">完成后隐藏</th>
                    <th width="8%">启用</th>
                    <th width="38%">状态</th>
                    <th width="6%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="process in page.content">
                    <td>
                        {{process.name}}
                    </td>
                    <td ng-switch on="process.type">
                        <span ng-switch-when="1">线性流程</span>
                        <span ng-switch-when="2">开关流程</span>
                    </td>
                    <td ng-switch on="process.objectType">
                        <span ng-switch-when="1">订单</span>
                        <span ng-switch-when="2">商品</span>
                        <span ng-switch-when="3">库存</span>
                        <span ng-switch-when="4">采购</span>
                    </td>
                    <td ng-switch on="process.autoApply">
                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="true"></span>
                        <span class="glyphicon glyphicon-remove text-danger" ng-switch-when="false"></span>
                    </td>
                    <td>
                        <span class="label label-success">{{process.defaultStep.name}}</span>
                    </td>
                    <td ng-switch on="process.hideWhenComplete">
                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="true"></span>
                        <span class="glyphicon glyphicon-remove text-danger" ng-switch-when="false"></span>
                    </td>
                    <td ng-switch on="process.enabled">
                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="true"></span>
                        <span class="glyphicon glyphicon-remove text-danger" ng-switch-when="false"></span>
                    </td>
                    <td ng-switch on="process.type">
                        <div ng-switch-when="1">
                            <span ng-repeat="step in process.steps | orderBy: 'sequence'">
                                <span class="label label-success" style="margin:3px">{{step.name}}</span>
                            <span class="glyphicon glyphicon-circle-arrow-right" ng-show="!$last"></span>
                            </span>
                        </div>
                        <div ng-switch-when="2">
                            <span class="label label-success" ng-repeat="step in process.steps | orderBy: 'sequence'" style="margin:3px">{{step.name}}</span>
                        </div>
                    </td>
                    <td>
                        <a ui-sref="process.operator({id:process.id})" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> 编辑
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <nav class="page-list">
                            <ul class="pagination pagination-sm">
                                <li ng-repeat="i in query.list" ng-class="{active: i.value === page.number}">
                                    <a href="" ng-click="turnPage(i.value)">{{i.label}}</a>
                                </li>
                            </ul>
                            <div class="page-total">
                                共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
                                <select class="form-control" style="display: inline; padding:0" ng-model="query.size" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
                                </select>
                            </div>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-body" ng-if="page.content.length == 0">
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-info-sign"></span> 没有任何数据被检索到
            </div>
        </div>
    </div>
</div>
