<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="inventory">库存管理</a></li>
    <li class="active">出库</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                出库
            </h3>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <ui-select ng-model="batch.warehouse" on-select="changeWarehouse($item, $model)">
                    <ui-select-match placeholder="请选择一个仓库">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                        <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!-- item table -->
        <table class="table table-condensed clear-marginbottom-table">
            <thead>
                <tr>
                    <th width="36%">SKU | 商品名称</th>
                    <th width="18%">出库库位 (可选)</th>
                    <th width="18%">批次号 (可选)</th>
                    <th width="10%">保有数量</th>
                    <th width="10%">出库数量</th>
                    <th width="8%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in batch.items">
                    <td width="36%">
                        {{item.product.sku + ' : ' + item.product.name}}
                    </td>
                    <td width="18%">
                        {{item.position.name}}
                    </td>
                    <td width="18%">
                        {{item.outBatch.id}}
                    </td>
                    <td width="10%">
                    </td>
                    <td width="10%">
                        {{item.changedQuantity}}
                    </td>
                    <td width="8%">
                        <a href="" class="btn btn-danger btn-xs" ng-click="showRemoveItem(item, $index)">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- item add form -->
        <form name="itemAddForm" novalidate ng-submit="saveItem(item, itemAddForm)">
            <table class="table  table-condensed clear-marginbottom-table">
                <tbody>
                    <tr>
                        <td width="36%">
                            <ui-select ng-model="item.product" on-select="changeProduct($item)" ng-show="products.length > 0">
                                <ui-select-match placeholder="选择或搜索商品">{{$select.selected.name + '(' + $select.selected.sku + ')'}}</ui-select-match>
                                <ui-select-choices repeat="product in products | filter: $select.search">
                                    <small ng-bind-html="product.name + '(' + product.sku + ')' | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="18%">
                            <div class="input-group" ng-show="batch.warehouse.positions && batch.warehouse.positions.length > 0 && item.product.existPosition == true">
                                <ui-select ng-model="item.position" on-select="changePosition($item)">
                                    <ui-select-match placeholder="选择库位">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="position in item.product.positions | filter: $select.search | filter: {name: '!default'}">
                                        <div ng-bind-html="position.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="changePosition('remove')" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                </span>
                            </div>
                        </td>
                        <td width="18%">
                            <div class="input-group" ng-show="item.product">
                                <ui-select ng-model="item.outBatch" on-select="changeOutBatch($item)">
                                    <ui-select-match placeholder="选择批次">{{$select.selected.id + ''}}</ui-select-match>
                                    <ui-select-choices repeat="batch in batches | filter: $select.search">
                                        <div ng-bind-html="batch.id + '' | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="changeOutBatch('remove')" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                </span>
                            </div>
                        </td>
                        <td width="10%">
                            {{keepQuantity}}
                        </td>
                        <td width="10%">
                            <div class="form-group has-feedback" ng-class="{'has-success':(itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$valid), 'has-warning':(itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$invalid) }">
                                <input type="number" class="form-control" name="changedQuantity" ng-model="item.changedQuantity" placeholder="" required min="1" ng-maxlength="10" max="{{keepQuantity}}" />
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$valid"></span>
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$invalid"></span>
                            </div>
                        </td>
                        <td width="8%">
                            <button type="submit" class="btn btn-info" ng-disabled="!itemAddForm.$valid || !item.product">添加</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="panel-body">
            <form name="batchForm" class="form-horizontal" novalidate ng-submit="saveBatch(batch, batchForm)">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2" for="name">订单号 <span class="text-danger"></span></label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="orderId" ng-model="batch.orderId" placeholder="订单号" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2" for="name">备注 <span class="text-danger"></span></label>
                    <div class="col-md-5">
                        <textarea class="form-control" rows="10" name="memo" ng-model="batch.memo" placeholder="备注"></textarea>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-5 col-md-offset-2">
                        <button type="submit" class="btn btn-success btn-lg" ng-disabled="batch.items.length == 0">确定出库</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- item delete Modal -->
    <div class="modal fade" id="itemDeleteModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-danger">
                    <span class="glyphicon glyphicon-question-sign"></span> 确定删除
                </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="removeItem()">确定</button>
                </div>
            </div>
        </div>
    </div>
