<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="inventory">库存管理</a></li>
    <li class="active">入库</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <ui-select ng-model="batch.warehouse" on-select="changeWarehouse($item, $model)">
                        <ui-select-match placeholder="请选择一个仓库">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                            <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <form>
            <table class="table table-bordered table-condensed clear-marginbottom-table">
                <tbody>
                    <tr>
                        <th width="36%">SKU | 商品名称</th>
                        <th width="16%">入库库位</th>
                        <th width="16%">入库数量</th>
                        <th width="16%">保质期</th>
                        <th width="16%">操作</th>
                    </tr>
                </tbody>
            </table>
        </form>
        <!-- item table -->
        <form name="itemForm" novalidate ng-repeat="item in batch.items">
            <table class="table table-bordered table-condensed clear-marginbottom-table">
                <tbody>
                    <tr>
                        <td width="36%">
                            {{item.product.sku + ' : ' + item.product.name}}
                        </td>
                        <td width="16%">
                            <span ng-show="item.position.name != 'default'">
                                {{item.position.name}}
                            </span>
                        </td>
                        <td width="16%">
                            {{item.changedQuantity}}
                        </td>
                        <td width="16%">
                            {{item.expireDate}}
                        </td>
                        <td width="16%">
                            <a href="" class="btn btn-danger btn-xs" ng-click="showRemoveItem(item, $index)">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!-- item add form -->
        <form name="itemAddForm" novalidate ng-submit="saveItem(item, itemAddForm)">
            <table class="table table-bordered table-condensed clear-marginbottom-table">
                <tbody>
                    <tr>
                        <td width="36%">
                            <ui-select ng-model="item.product" ng-show="batch.warehouse">
                                <ui-select-match placeholder="选择或搜索一个商品">{{$select.selected.sku + ' : ' + $select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="product in products | filter: $select.search">
                                    <div ng-bind-html="product.sku | highlight: $select.search"></div>
                                    <small ng-bind-html="product.name | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="16%">
                            <ui-select ng-model="item.position" ng-show="batch.warehouse.enablePosition">
                                <ui-select-match placeholder="选择或搜索一个库位">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="position in batch.warehouse.positions | filter: $select.search | filter: {name: '!default'}">
                                    <div ng-bind-html="position.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="16%">
                            <div class="form-group has-feedback" ng-class="{'has-success':(itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$valid), 'has-warning':(itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$invalid) }">
                                <input type="number" class="form-control" name="changedQuantity" ng-model="item.changedQuantity" placeholder="" required min="1" ng-maxlength="10" />
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$valid"></span>
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="itemAddForm.changedQuantity.$dirty && itemAddForm.changedQuantity.$invalid"></span>
                            </div>
                        </td>
                        <td width="16%">
                            <div id="sandbox-container">
                                <input type="text" class="form-control" ng-model="item.expireDate">
                            </div>
                        </td>
                        <td width="16%">
                            <button type="submit" class="btn btn-info" ng-disabled="!itemAddForm.$valid || !item.product">添加</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="panel-body">
            <form name="batchForm" class="form-horizontal" novalidate ng-submit="saveBatch(batch, batchForm)">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2" for="name">采购单号 <span class="text-danger"></span></label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="purchaseOrderId" ng-model="batch.purchaseOrderId" placeholder="采购单号" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2" for="name">备注 <span class="text-danger"></span></label>
                    <div class="col-md-5">
                        <textarea class="form-control" rows="10" name="memo" ng-model="batch.memo" placeholder="备注"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        <button type="submit" class="btn btn-success btn-lg" ng-disabled="batch.items.length == 0">确定保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- item delete Modal -->
<div class="modal fade" id="itemDeleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">
                    <span class="glyphicon glyphicon-question-sign"></span> 确定删除
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="removeItem()">确定</button>
            </div>
        </div>
    </div>
</div>
