<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">库存管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a class="btn btn-info btn-xs" ui-sref="inventory.enter({id:warehouse.selected.id})">入库</a>
        <a class="btn btn-info btn-xs" ui-sref="inventory.out({id:warehouse.selected.id})">出库</a>
        <a class="btn btn-info btn-xs">移库</a>
    </li>
</ol>
<div class="container-fluid">
    <form>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">库存</h3>
            </div>
            <table class="table table-condensed clear-marginbottom-table">
                <thead>
                    <tr>
                        <td width="12%">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="p.sku" placeholder="SKU">
                            </div>
                        </td>
                        <td width="12%">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="p.name" placeholder="商品名称">
                            </div>
                        </td>
                        <td width="16%">
                            <ui-select ng-model="warehouse.selected" on-select="changeWarehouse($item, $model)">
                                <ui-select-match placeholder="请选择一个仓库">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                                    <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="46%"></td>
                        <td width="14%">
                            <!-- <div class="form-group pull-right">
                                <button type="reset" class="btn btn-default" ng-click="reset()">
                                    <span class="glyphicon glyphicon-refresh"></span> 重置
                                </button>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </div> -->
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="panel-body" ng-show="products.length == 0">
                <div class="alert alert-warning">
                    没有任何数据被检索到
                </div>
            </div>
            <table class="table table-condensed" ng-show="products.length > 0">
                <thead>
                    <tr>
                        <th width="12%">SKU</th>
                        <th width="18%">商品名称</th>
                        <th width="10%">库位</th>
                        <th width="10%">数量</th>
                        <th width="10%">有效期</th>
                        <th width="10%">批次</th>
                        <th width="10%">采购单</th>
                        <th width="10%">收货单</th>
                        <th width="20%">库存快照</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | filter:{sku: p.sku, name: p.name}">
                        <td>
                            {{product.sku}}
                        </td>
                        <td>
                            {{product.name}} {{product.id}}
                        </td>
                        <td colspan="6">
                            <table class="table table-condensed clear-marginbottom-table">
                                <thead>
                                    <tr ng-repeat="detail in product.details">
                                        <td width="16.6%">
                                            {{detail.position.name}}
                                        </td>
                                        <td width="16.6%">
                                            {{detail.quantity}}
                                        </td>
                                        <td width="16.6%">
                                            {{detail.expireDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td width="16.6%">
                                            {{detail.batchId}}
                                        </td>
                                        <td width="16.6%">
                                            <a ui-sref="purchaseOrder.operator({id:detail.purchaseOrderId})" class="btn btn-info btn-xs">
                                                <span class="glyphicon glyphicon-search"></span> 采购单
                                            </a>
                                        </td>
                                        <td width="16.6%">
                                            <a ui-sref="purchaseOrderDelivery.receive({id:detail.receiveId})" class="btn btn-info btn-xs">
                                                <span class="glyphicon glyphicon-search"></span> 收货单
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <span class="text-success">总共：{{product.total}}</span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td>
                            <a href="" class="btn btn-info btn-xs" ng-click="toggleSnapshot(product.id, warehouse.selected.id)">
                                <span class="glyphicon glyphicon-search"></span> 库存快照
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<section ng-include="template.snapshot.url"></section>
