<nav class="page-list">
    <ul class="pagination pagination-sm">
        <li ng-repeat="i in query.list" ng-class="{active: i.value === page.number}">
            <a href="" ng-click="turnPage(i.value)">{{i.label}}</a>
        </li>
    </ul>
    <div class="page-total" ng-switch on="mode">
        共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
        <form ng-submit="turnPage(0)" ng-switch-when="input">
            <input type="number" class="form-control" ng-model="query.size">
        </form>
        <select ng-switch-when="select" class="form-control" ng-model="query.size" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
        </select>
    </div>
</nav>
