/*ScrollbarContainer
==================================================================*/

#productDetailsScrollbarContainer {
    width: 100%;
}

#productDetailsScrollbarContainer .scroll-viewport {
    height: 540px;
    width: 98%;
}

#productDetailsScrollbarContainer .scroll-overview {
    width: 100%;
}


/*pagination style
==================================================================*/

.page-list .pagination {
    float: right;
}

.page-list .pagination span {
    cursor: pointer;
}

.page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
}

.page-list .pagination .separate span:hover {
    background: none;
}

.page-list .page-total {
    float: right;
    margin: 25px 20px;
}

.page-list .page-total input,
.page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
}

.page-list .page-total input {
    width: 40px;
    padding-left: 3px;
}

.page-list .page-total select {
    width: 50px;
}


/*product style
==================================================================*/

#breadcrumb-li:before {
    padding: 0 5px;
    color: #ccc;
    content: " ";
}

.ng-pageslide {
    background-color: #f5f5f5;
}

#operator-slider {
    padding: 15px;
}

.productSerachFormRow .col {
    padding: 2px;
}


/*jquery.file.upload
==================================================================*/

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}


/*
==================================================================*/

.pagination-ul.ng-enter,
.pagination-ul.ng-leave {
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all, 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
}

.pagination-ul.ng-enter {
    transform: translateX(100%);
}

.pagination-ul.ng-leave {
    transform: translateX(0%);
}

.pagination-ul.ng-enter.ng-enter-active,
.pagination-ul.ng-leave {
    transform: translateX(0%);
    opacity: 1;
    top: 0;
    height: 30px;
}

.pagination-ul.ng-leave.ng-leave-active {
    transform: translateX(-100%);
}

.pagination-ul.ng-leave.ng-leave-active,
.pagination-ul.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}


/* form
==================================================================*/

form[name="mcForm"] input,
form[name="mcAddForm"] input {
    font-size: 10px;
    padding-right: 2px !important;
}


/* table
==================================================================*/

.clear-marginbottom-table {
    margin-bottom: 0;
}


/*scroll bar style
==================================================================*/

::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
    padding-top: 100
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05)
}
