<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">订单管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a href="javascript:void(0)" class="btn btn-info btn-xs" ui-sref="order.operator">创建</a>
        <a href="javascript:void(0)" class="btn btn-info btn-xs">导入</a>
        <a href="javascript:void(0)" class="btn btn-info btn-xs">导出</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <form name="orderSerachForm" novalidate ng-submit="search()">
            <table class="table" style="margin:0">
                <tbody>
                    <tr>
                        <td width="12%">
                            <div class="form-group" style="margin-bottom:0; margin-top:5px;">
                                <input type="text" ng-model="order.orderId" class="form-control" placeholder="订单编号" />
                            </div>
                        </td>
                        <td width="12%">
                            <div class="form-group" style="margin-bottom:0; margin-top:5px;">
                                <input type="text" class="form-control" placeholder="快递单号" />
                            </div>
                        </td>
                        <td width="12%">
                            <div class="form-group" style="margin-bottom:0; margin-top:5px;">
                                <input type="text" ng-model="order.receiveName" class="form-control" placeholder="收件人姓名" />
                            </div>
                        </td>
                        <td width="12%">
                            <div class="form-group" style="margin-bottom:0; margin-top:5px;">
                                <div class="input-group">
                                    <ui-select ng-model="shop.selected">
                                        <ui-select-match placeholder="店铺">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="shop in shops | filter: $select.search">
                                            <div ng-bind-html="shop.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="shop.selected = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="panel panel-default" style="height:100px;">
                                <div class="panel-body">
                                    <a href="" class="btn btn-info btn-xs" style="margin-bottom:5px;margin-right:5px;" ng-repeat="state in selected.status"> 
                                        {{state.name}} <span class="glyphicon glyphicon-remove" sytle="color:white" ng-click="selectState(state)"></span>
                                    </a>
                                    <a href="" class="btn btn-primary btn-xs" style="margin-bottom:5px;margin-right:5px;" ng-click="loadStatus()">选择状态</a>
                                </div>
                            </div>
                        </td>
                        <td width="12%" rowspan="2">
                            <div class="form-group text-center">
                                <button type="reset" class="btn btn-default btn-block" ng-click="reset()" style="margin-top:6px;">
                                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;重置
                                </button>
                                <br/>
                                <button type="submit" class="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;搜索
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%" style="border:none;">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" ng-model="order.internalCreateTimeStart" class="form-control" placeholder="下单起始日期" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="order.internalCreateTimeStart = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td width="12%" style="border:none;">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" ng-model="order.internalCreateTimeEnd" class="form-control" placeholder="下单结束日期" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="order.internalCreateTimeEnd = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td width="12%" style="border:none;">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" ng-model="order.shippingTimeStart" class="form-control" placeholder="发货起始日期" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="order.shippingTimeStart = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td width="12%" style="border:none;">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" ng-model="order.shippingTimeEnd" class="form-control" placeholder="发货结束日期" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="order.shippingTimeEnd = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="panel-body" style="padding:0"></div>
        <table class="table table-bordered" ng-show="page">
            <thead>
                <tr>
                    <th width="2%">
                        <input type="checkbox" name="orderId">
                    </th>
                    <th width="10%">订单编号</th>
                    <th width="10%">店铺</th>
                    <th width="10%">店铺单号</th>
                    <th width="14%">时间（下单，导入，发货）</th>
                    <th width="6%">总金额</th>
                    <th width="10%">收件人</th>
                    <th width="10%">商品信息</th>
                    <th width="12%">备注</th>
                    <th width="10%">状态</th>
                    <th width="6%" style="padding: 2px">
                        <select class="form-control input-sm">
                            <option selected="selected">批量操作</option>
                            <option>批量上架</option>
                            <option>批量下架</option>
                            <option>批量更名</option>
                            <option>批量作废</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in page.content" ng-class="{active: order.active}">
                    <td>
                        <input type="checkbox" name="orderId">
                    </td>
                    <td>
                        {{order.id}}
                    </td>
                    <td>
                        {{order.shop.name}}
                    </td>
                    <td>
                        {{order.externalSn}}
                    </td>
                    <td>
                        <div ng-show="order.externalCreateTime">
                            下单 : {{order.externalCreateTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <div ng-show="order.internalCreateTime">
                            导入 : {{order.internalCreateTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <div ng-show="order.internalCreateTime">
                            发货 : {{order.internalCreateTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                        </div>

                    </td>
                    <td>
                        {{order.grandTotal | currency : ''}}
                    </td>
                    <td>
                        <div ng-show="order.receiveName">
                            名字 : {{order.receiveName}}
                        </div>
                        <div ng-show="order.receivePhone">
                            电话 : {{order.receivePhone}}
                        </div>
                        <div ng-show="order.receiveAddress">
                            地址 : {{order.receiveAddress}}
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="item in order.items | limitTo:5">
                            {{item.name}}&nbsp;*&nbsp;{{item.qtyOrdered}}
                        </div>
                        <a href="" class="btn btn-info btn-xs pull-right" ng-click="loadDetail(order)">...</a>
                    </td>
                    <td>
                        {{order.memo}}
                    </td>
                    <td>
                        <a href="" popover-template="popover.url" popover-title="{{process.process.name}}" ng-click="updateStep(order)" class="btn btn-success btn-xs" ng-repeat="process in order.processes" style="margin-right: 5px; margin-bottom:5px">
                            {{process.step.name}}
                        </a>
                        <a href="" class="btn btn-info btn-xs pull-right" ng-click="loadProcesses(order)">...</a>
                    </td>
                    <td>
                        <a ui-sref="order.operator({id:order.id})" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> 编辑
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <div class="panel-body" ng-show="page.content.length == 0">
                            <div class="alert alert-warning">没有任何数据被检索到</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="20">
                        <nav class="page-list">
                            <ul class="pagination pagination-sm">
                                <li ng-class="{disabled: page.first}">
                                    <a href="" ng-click="turnPage(page.number - 1)">&laquo;</a>
                                </li>
                                <li ng-repeat="i in totalPagesList" ng-class="{active: i == page.number}">
                                    <a href="" ng-click="turnPage(i)">{{i+1}}</a>
                                </li>
                                <li ng-class="{disabled: page.last}">
                                    <a href="" ng-click="turnPage(page.number + 1)">&raquo;</a>
                                </li>
                            </ul>
                            <div class="page-total">
                                共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
                                <select class="form-control" style="display: inline; padding:0" ng-model="pageSize" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
                                </select>
                            </div>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<section ng-controller="OrderDetailController" onload="initOrderDetailTabs()" ng-include="template.detail.url"></section>
<section ng-include="template.status.url"></section>
<section ng-controller="OrderProcessController" ng-include="template.process.url"></section>
<script type="text/ng-template" id="process-tmpl.html">
    <span ng-if="process.process.type == 1">
    <span ng-repeat="step in process.process.steps | orderBy: 'sequence'" >
        <button type="button" class="btn btn-xs {{step.sequence > process.step.sequence ? 'btn-info' : 'btn-success'}}" style="margin-bottom:5px;" ng-click="saveUpdateStep(process, step.id)">{{step.name}}</button>
        <span class="glyphicon glyphicon-circle-arrow-right" ng-show="!$last"></span>
    </span>
    </span>
    <span ng-if="process.process.type == 2">
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-xs {{step.id != process.step.id ? 'btn-info' : 'btn-success'}}" ng-repeat="step in process.process.steps | orderBy: 'sequence'" ng-click="saveUpdateStep(process, step.id)">{{step.name}}</button>
    </div>
</span>
</script>
