<p>&nbsp;</p>
<form name="orderOperatorForm" class="form-horizontal" novalidate>
    <div class="row">
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

            <h4 class="text-success">
                <strong>订单详情</strong>
            </h4>
            <hr/>

            <!-- order.internal_create_time 订单在系统创建时间, 为订单导入或在系统创建的时间 -->
            <div class="form-group has-feedback" ng-show="id">
                <label class="control-label col-md-2">订单在系统创建时间</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ order.internalCreateTime | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </p>
                </div>
                <label class="control-label col-md-2">订单最近更新时间</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ order.lastUpdateTime | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </p>
                </div>
            </div>

            <!-- order.ship_id -->
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">店铺编号*</label>
                <div class="col-md-3">
                    <ui-select ng-model="order.shop" on-select="changeShop($item)" ng-disabled="id" required>
                        <ui-select-match placeholder="店铺(必选)">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="shop in shops | filter: $select.search">
                            <div ng-bind-html="shop.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="control-label col-md-2">订单结算货币</label>
                <div class="col-md-3">
                    <p class="form-control-static">{{ order.currency.name }}</p>
                </div>
            </div>
            <!-- order.external_sn -->
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">店铺订单号*</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.externalSn" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2" ng-show="id">商品总件数</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.qtyTotalItemOrdered }}</p>
                </div>
            </div>
            <!-- order.shipping_fee -->
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">运费金额*</label>
                <div class="col-md-3">
                    <input class="form-control" type="number" ng-model="order.shippingFee" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2" ng-show="id">已发货商品总件数</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.qtyTotalItemShipped }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件人姓名*</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receiveName" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2" ng-show="id">商品包含的税金</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.tax | currency : '$' }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件人电话*</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receivePhone" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2" ng-show="id">商品总金额</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.subtotal | currency : '$' }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件地址*</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receiveAddress" placeholder="(必填)" required />
                </div>
                <label class="control-label col-md-2" ng-show="id">订单总金额</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.grandTotal | currency : '$' }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件人email</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receiveEmail" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2" ng-show="id">总共开出的发票金额</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.totalInvoiced | currency : '$' }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件国家</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receiveCountry" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2" ng-show="id">总共收到的付款金额</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.totalPaid | currency : '$' }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件省</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receiveProvince" placeholder="(选填)" />
                </div>
                <label class="control-label col-md-2" ng-show="id">总共完成的退款金额</label>
                <div class="col-md-3" ng-show="id">
                    <p class="form-control-static">{{ order.totalRefunded | currency : '$' }}</p>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件城市</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receiveCity" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">收件邮编</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.receivePost" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">发货方式</label>
                <div class="col-md-3">
                    <ui-select ng-model="order.deliveryMethod">
                        <ui-select-match placeholder="发货方式(非必选)">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="deliveryMethod in deliveryMethods | filter: $select.search">
                            <div ng-bind-html="deliveryMethod.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">发件人姓名</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.senderName" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">发件地址</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.senderAddress" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">发件人电话</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.senderPhone" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">发件人email</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.senderEmail" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">发件人邮编</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.senderPost" placeholder="(选填)" />
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2">店铺要求的发货方式描述</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="order.shippingDescription" placeholder="(选填)" />
                </div>
            </div>
        </div>
    </div>
</form>
<div class="panel panel-default" ng-include="template.info.items.url">
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="save(order, orderOperatorForm.$valid)">
                    <span class="glyphicon glyphicon-floppy-saved"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>
