<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="user">用户管理</a></li>
    <li class="active">创建用户角色</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <!-- <div class="panel-body">
            <p>电子邮件:{{userRoleForm.name}}</p>
            <p>$pristine 【没修改】：{{userRoleForm.name.$pristine }}</p>
            <p>$dirty【修改过】：{{userRoleForm.name.$dirty}}</p>
            <p>$invalid【验证失败】：{{userRoleForm.name.$invalid}}</p>
            <p>$valid【验证成功】：{{userRoleForm.name.$valid}}</p>
            <p>$error【错误详情】：{{userRoleForm.name.$error}}</p>
        </div> -->
        <div class="panel-body">
            <h4>用户角色信息</h4>
            <hr>
            <form name="userRoleForm" class="form-horizontal" role="form" novalidate ng-submit="save()">
                <!-- name -->
                <div class="form-group has-feedback" ng-class="{'has-success':(userRoleForm.name.$dirty && userRoleForm.name.$valid), 'has-warning':(userRoleForm.name.$dirty && userRoleForm.name.$invalid) }">
                    <label class="control-label col-md-2" for="name">角色名称 <span class="text-danger">*</span></label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="name" name="name" ng-model="role.name" placeholder="角色名称" required ng-minlength="5" ng-maxlength="50" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="userRoleForm.name.$dirty && userRoleForm.name.$valid"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="userRoleForm.name.$dirty && userRoleForm.name.$invalid"></span>
                    </div>
                    <span class="col-md-5 help-block" ng-messages="userRoleForm.name.$error" ng-show="userRoleForm.name.$dirty && userRoleForm.name.$invalid">
                        <span ng-messages-include="views/error-messages.html" ></span>
                    </span>
                </div>
                <!-- authorities -->
                <div class="form-group">
                    <label class="control-label col-md-2" for="name">所有权限 <span class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <ul class="list-unstyled">
                            <li ng-repeat="authority in authorities">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="authority" ng-model="authority.done"> {{authority.name}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <p class="text-warning" ng-show="authoritiesDoneWarning">请选择至少一个权限</p>
                    </div>
                </div>
                <!-- button -->
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        <button type="submit" class="btn btn-success btn-lg" ng-disabled="!userRoleForm.$valid">保存</button>
                        <button type="button" class="btn btn-success btn-lg" ng-click="reset()">重置</button>
                    </div>
                </div>
            </form>
            <section ng-if="roles">
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>角色名称</th>
                            <th>可用权限</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="role in roles">
                            <td>
                                <a href="javascript:void(0)" ng-click="select(role)">
                                    {{role.name}}
                                </a>
                            </td>
                            <td>{{role.authorityString}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="remove(role.id)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
