<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">用户管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a class="btn btn-info btn-xs" ui-sref="user.operator">创建</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">用户列表</h3>
        </div>
        <table class="table table-condensed" ng-if="page.content.length > 0">
            <thead>
                <tr>
                    <th width="15%">用户名</th>
                    <th width="25%">邮箱</th>
                    <th width="44%">角色</th>
                    <th width="10%">启用</th>
                    <th width="6%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in page.content">
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        <span class="label label-{{role.code == 'SYSTEM_ADMIN' ? 'danger' : 'success'}}" ng-repeat="role in user.roles" style="margin:3px;display:inline-block" >
                            {{role.name}}
                        </span>
                    </td>
                    <td ng-switch on="user.enabled">
                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="true"></span>
                        <span class="glyphicon glyphicon-remove text-danger" ng-switch-when="false"></span>
                    </td>
                    <td>
                        <a ui-sref="user.operator({id:user.id})" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> 编辑
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <nav class="page-list">
                            <ul class="pagination pagination-sm">
                                <li ng-repeat="i in query.list" ng-class="{active: i.value === page.number}">
                                    <a href="" ng-click="turnPage(i.value)">{{i.label}}</a>
                                </li>
                            </ul>
                            <div class="page-total">
                                共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
                                <select class="form-control" style="display: inline; padding:0" ng-model="query.size" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
                                </select>
                            </div>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-body" ng-if="page.content.length == 0">
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-info-sign"></span> 没有任何数据被检索到
            </div>
        </div>
    </div>
</div>
