<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">订单配货</li>
    <li class="pull-right" id="breadcrumb-li">
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <form name="searchForm" novalidate ng-submit="search()">
            <table class="table" style="margin:0">
                <tbody>
                    <tr>
                        <td width="12%">
                            <ui-select ng-model="query.warehouse" theme="bootstrap">
                                <ui-select-match placeholder="请选择仓库">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                                    <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="12%">
                            <ui-select ng-model="query.shop" theme="bootstrap">
                                <ui-select-match placeholder="请选择店铺">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="shop in shops | filter: $select.search">
                                    <div ng-bind-html="shop.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="30%">
                        </td>
                        <td width="32%">
                        </td>
                        <td width="14%">
                            <div class="form-group pull-right">
                                <button type="reset" class="btn btn-default" ng-click="reset()">
                                    <span class="glyphicon glyphicon-refresh"></span> 重置
                                </button>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="panel-body" style="padding:0"></div>
        <table class="table table-bordered table-condensed" ng-show="page">
            <thead>
                <tr>
                    <th width="2%">
                        <input type="checkbox" name="orderId" ng-model="is_checked_all" ng-click="checkAllOrder()">
                    </th>
                    <th width="10%">店铺</th>
                    <th width="10%">订单编号</th>
                    <th width="34%">商品信息</th>
                    <th width="34%">配货信息</th>
                    <th width="10%" style="padding: 2px">
                        <select class="form-control input-sm" ng-change="batch_manipulation()" ng-model="batch_manipulation_value">
                            <option selected="selected" value="batch_manipulation">操作</option>
                            <option value="generate_out_inventory_sheet">生成出库单</option>
                            <option value="generate_shipment">生成发货单</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in page.content" ng-class="{active: order.active}">
                    <td>
                        <input type="checkbox" ng-model="order.isSelected">
                    </td>
                    <td>
                        {{order.shop.name}}
                    </td>
                    <td>
                        <strong>{{order.id}}</strong>
                    </td>
                    <td>
                        <table class="table table-condensed">
                            <tbody>
                                <tr ng-repeat="item in order.items">
                                    <td width="40%">
                                        {{item.name}}
                                    </td>
                                    <td width="20%">
                                        {{item.qtyOrdered}}
                                    </td>
                                    <td width="40%">
                                        <section ng-show="item.assignTunnel">
                                            <ui-select ng-model="item.assignTunnel.defaultWarehouse">
                                                <ui-select-match placeholder="请选择仓库">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="warehouse in item.assignTunnel.warehouses | filter: $select.search">
                                                    <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </section>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                    </td>
                    <td>
                        <!--<a href="javascript:void(0);" class="btn btn-primary btn-block" ng-click="openGenerateSingleShipmentModal(order)">生成发货单</a>-->
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <nav class="page-list">
                            <ul class="pagination pagination-sm">
                                <li ng-class="{disabled: page.first}">
                                    <a href="" ng-click="turnPage(page.number - 1)">&laquo;</a>
                                </li>
                                <li ng-repeat="i in totalPagesList" ng-class="{active: i == page.number}">
                                    <a href="" ng-click="turnPage(i)">{{i+1}}</a>
                                </li>
                                <li ng-class="{disabled: page.last}">
                                    <a href="" ng-click="turnPage(page.number + 1)">&raquo;</a>
                                </li>
                            </ul>
                            <div class="page-total">
                                共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
                                <select class="form-control" style="display: inline; padding:0" ng-model="pageSize" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
                                </select>
                            </div>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-body" ng-show="!page || page.content.length == 0">
            <div class="alert alert-warning">没有任何数据被检索到</div>
        </div>
    </div>
</div>

<!-- generateShipment Modal -->
<div class="modal fade" id="generateShipment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">请选择一家快递公司</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <ui-select ng-model="courier.selected">
                        <ui-select-match placeholder="快递公司(可选)">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="courier in couriers | filter: $select.search">
                            <div ng-bind-html="courier.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="startShipNumber" placeholder="起始快递单号" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" ng-click="checkGenerateShipmentModal()">继续</button>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<section ng-include="template.status.url"></section>
<section ng-include="template.generateShipment.url"></section>
<section ng-include="template.generateOutInventorySheet.url" ng-controller="ConfirmOutInventorySheetController" onload="init()"></section>
<section ng-include="template.generateShipmentSheet.url" ng-controller="ConfirmShipmentSheetController" onload="init()"></section>

