<style>
    table.shipment_confirm_tables>tbody>tr>th,
    table.shipment_confirm_tables>tbody>tr>td
    {
        border:none !important;
    }
</style>
<div pageslide ps-open="generateShipmentSheetCheckListSlideChecked" ps-speed="0.25" ps-size="100%" style="border-left-width: 1px; border-left-style: solid; border-left-color: #c8c8c8">
    <div id="operator-slider" style="padding:1px" class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="toggleShipmentSheetSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="text-center" style="margin: 0;">
                    <strong class="text-center text-success">操作复核</strong>
                </h3>
                <hr style="margin: 5px 0;">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-success" style="height:200px">
                            <div class="panel-heading" style="padding: 5px;">
                                <h4 class="panel-title"><strong>摘要</strong></h4>
                            </div>
                            <div class="panel-body" style="margin-bottom: 5px;">
                                <table class="table table-condensed shipment_confirm_tables">
                                    <tbody>
                                        <tr>
                                            <th width="50%">操作</th>
                                            <td wdith="50%">生成发货单复核</td>
                                        </tr>
                                        <tr>
                                            <th width="50%">时间</th>
                                            <td wdith="50%">{{ operateDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                        </tr>
                                        <tr>
                                            <th width="50%">操作员</th>
                                            <td wdith="50%">{{user().username}}</td>
                                        </tr>
                                        <tr>
                                            <th width="50%">指定快递公司</th>
                                            <td wdith="50%">{{courier.selected.name}} <span class="glyphicon glyphicon-warning-sign text-warning" ng-hide=" operationReview().selectedCourier ||  operationReview().ignoredMap.emptyCourierAndShipNumberError "></span></td>
                                        </tr>
                                        <tr>
                                            <th width="50%">起始快递单号</th>
                                            <td wdith="50%">{{startShipNumber}} <span class="glyphicon glyphicon-warning-sign text-warning" ng-hide=" operationReview().dataMap.startShipNumber || operationReview().ignoredMap.emptyCourierAndShipNumberError "></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-success" style="height:200px">
                            <div class="panel-heading" style="padding: 5px;">
                                <h4 class="panel-title"><strong>操作规定</strong></h4>
                            </div>
                            <div class="panel-body" style="margin-bottom: 5px;">
                                <div class="row" style="margin-bottom: 7px;">
                                    <div class="col-md-9 col-md-offset-1">
                                        全部订单商品是否处在同一仓库中
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-xs pull-right" ng-disabled="true" ng-show=" ! operationReview().checkMap.differentWarehouseError">
                                            <span class="glyphicon glyphicon-ok"></span> 验证通过
                                        </a>
                                        <a class="btn btn-danger btn-xs pull-right" ng-disabled="true" ng-show="operationReview().checkMap.differentWarehouseError">
                                            <span class="glyphicon glyphicon-remove-circle"></span> 验证失败
                                        </a>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 7px;">
                                    <div class="col-md-9 col-md-offset-1">
                                        全部订单的发货方式是否相同
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-xs pull-right" ng-disabled="true" ng-show=" ! operationReview().checkMap.differentDeliveryMethodError">
                                            <span class="glyphicon glyphicon-ok"></span> 验证通过
                                        </a>
                                        <div ng-switch on="operationReview().ignoredMap.differentDeliveryMethodError" ng-show="operationReview().checkMap.differentDeliveryMethodError">
                                            <a class="btn btn-warning btn-xs pull-right" ng-switch-when="false" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'differentDeliveryMethodError', true)">
                                                <span class="glyphicon glyphicon-warning-sign"></span> 取消验证
                                            </a>
                                            <a class="btn btn-info btn-xs pull-right" ng-switch-when="true" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'differentDeliveryMethodError', false)">
                                                <span class="glyphicon glyphicon-repeat"></span> 恢复验证
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 7px;">
                                    <div class="col-md-9 col-md-offset-1">
                                        是否指定快递公司和起始快递单号
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-xs pull-right" ng-disabled="true" ng-show=" ! operationReview().checkMap.emptyCourierAndShipNumberError">
                                            <span class="glyphicon glyphicon-ok"></span> 验证通过
                                        </a>
                                        <div ng-switch on="operationReview().ignoredMap.emptyCourierAndShipNumberError" ng-show="operationReview().checkMap.emptyCourierAndShipNumberError">
                                            <a class="btn btn-warning btn-xs pull-right" ng-switch-when="false" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'emptyCourierAndShipNumberError', true)">
                                                <span class="glyphicon glyphicon-warning-sign"></span> 取消验证
                                            </a>
                                            <a class="btn btn-info btn-xs pull-right" ng-switch-when="true" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'emptyCourierAndShipNumberError', false)">
                                                <span class="glyphicon glyphicon-repeat"></span> 恢复验证
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 7px;">
                                    <div class="col-md-9 col-md-offset-1">
                                        A. 订单在同一仓库下是否已存在发货单
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-xs pull-right" ng-disabled="true" ng-show=" ! operationReview().checkMap.warehouseExistOrderShipmentError">
                                            <span class="glyphicon glyphicon-ok"></span> 验证通过
                                        </a>
                                        <div ng-switch on="operationReview().ignoredMap.warehouseExistOrderShipmentError" ng-show="operationReview().checkMap.warehouseExistOrderShipmentError">
                                            <a class="btn btn-warning btn-xs pull-right" ng-switch-when="false" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'warehouseExistOrderShipmentError', true)">
                                                <span class="glyphicon glyphicon-warning-sign"></span> 取消验证
                                            </a>
                                            <a class="btn btn-info btn-xs pull-right" ng-switch-when="true" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'warehouseExistOrderShipmentError', false)">
                                                <span class="glyphicon glyphicon-repeat"></span> 恢复验证
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 7px;">
                                    <div class="col-md-9 col-md-offset-1">
                                        B. 订单的收货地址是否为空
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-xs pull-right" ng-disabled="true" ng-show=" ! operationReview().checkMap.emptyReceiveAddressError">
                                            <span class="glyphicon glyphicon-ok"></span> 验证通过
                                        </a>
                                        <div ng-switch on="operationReview().ignoredMap.emptyReceiveAddressError" ng-show="operationReview().checkMap.emptyReceiveAddressError">
                                            <a class="btn btn-warning btn-xs pull-right" ng-switch-when="false" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'emptyReceiveAddressError', true)">
                                                <span class="glyphicon glyphicon-warning-sign"></span> 取消验证
                                            </a>
                                            <a class="btn btn-info btn-xs pull-right" ng-switch-when="true" ng-click="ignoreOrNotChecker(operationReview().ignoredMap, 'emptyReceiveAddressError', false)">
                                                <span class="glyphicon glyphicon-repeat"></span> 恢复验证
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default" style="height:200px">
                            <div class="panel-body">
                                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="confirmShipmentGeneration()">确定</button>
                                <button type="button" class="btn btn-default btn-lg btn-block">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-danger">
                    <strong>详情：</strong>
                </p>
                <div style="padding-right:8px;">
                    <table class="table table-bordered table-condensed clear-marginbottom-table">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">订单详情</th>
                                <th colspan="3" class="text-center">操作规定复核结果</th>
                            </tr>
                            <tr>
                                <th width="10%">订单编号</th>
                                <th width="10%">发货方式 <span class="glyphicon glyphicon-warning-sign text-warning" ng-hide=" ! operationReview().checkMap.differentDeliveryMethodError || operationReview().ignoredMap.differentDeliveryMethodError "></span></th>
                                <th width="10%">收件地址</th>
                                <th width="30%">商品信息</th>
                                <th width="10%" class="text-center">A</th>
                                <th width="10%" class="text-center">B</th>
                                <th width="20%" class="text-center">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow-y:scroll; overflow-x:hidden" ng-style="defaultHeight()">
                    <table class="table table-bordered table-condensed clear-marginbottom-table">
                        <tbody>
                            <tr ng-class="{'active': order.ignoreCheck}" ng-repeat="order in operationReview().orders">
                                <td width="10%">
                                    <strong>{{ order.id }}</strong>
                                </td>
                                <td width="10%">
                                    {{ order.deliveryMethod == 1 ? '快递' : order.deliveryMethod == 2 ? '自提' : order.deliveryMethod == 3 ? '送货上门' : '' }}
                                </td>
                                <td width="10%">
                                    {{ order.receiveAddress }}
                                </td>
                                <td width="30%">
                                    <table class="table table-bordered table-condensed clear-marginbottom-table">
                                        <tbody>
                                            <tr ng-class="{'active': order.ignoreCheck}" ng-repeat="item in order.items">
                                                <td width="40%">
                                                    {{ item.name }}
                                                </td>
                                                <td width="20%">
                                                    {{ item.qtyOrdered }}
                                                </td>
                                                <td width="40%">
                                                    {{ item.assignTunnel.defaultWarehouse.name }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="10%" class="text-center">
                                    <div ng-switch on="order.checkMap.warehouseExistOrderShipmentError">
                                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="false"></span>
                                        <span class="glyphicon glyphicon-warning-sign text-danger" ng-switch-when="true" ng-show="! operationReview().ignoredMap.warehouseExistOrderShipmentError "></span>
                                    </div>
                                </td>
                                <td width="10%" class="text-center">
                                    <div ng-switch on="order.checkMap.emptyReceiveAddressError">
                                        <span class="glyphicon glyphicon-ok text-success" ng-switch-when="false"></span>
                                        <span class="glyphicon glyphicon-warning-sign text-warning" ng-switch-when="true" ng-show=" ! operationReview().ignoredMap.emptyReceiveAddressError "></span>
                                    </div>
                                </td>
                                <td width="20%" class="text-center">
                                    <div ng-switch on="order.ignoreCheck">
                                        <div ng-switch-when="true">
                                            <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ignoreOrNotCheckOrder( order )" ng-show=" order.ignoreCheck ">恢复</button>
                                        </div>
                                        <div ng-switch-when="false">
                                            <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ignoreOrNotCheckOrder( order )" ng-show=" ! order.ignoreCheck ">移出</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
