<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">订单配货</li>
    <li class="pull-right" id="breadcrumb-li">
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <form name="searchForm" novalidate ng-submit="search()">
            <table class="table" style="margin:0">
                <tbody>
                    <tr>
                        <td width="12%">
                            <ui-select ng-model="warehouse.selected" theme="bootstrap">
                                <ui-select-match placeholder="请选择仓库">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                                    <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="12%">
                            <ui-select ng-model="shop.selected" theme="bootstrap">
                                <ui-select-match placeholder="请选择店铺">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="shop in shops | filter: $select.search">
                                    <div ng-bind-html="shop.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="76%"></td>
                    </tr> 
                </tbody>
            </table>
        </form>
    </div>
</div>
