<div pageslide ps-open="generateShipmentCheckListSlideChecked" ps-speed="0.25" ps-size="100%" style="border-left-width: 1px; border-left-style: solid; border-left-color: #c8c8c8">
    <div id="operator-slider">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" ng-click="closeGenerateShipmentSlide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="text-center">
                    <strong class="text-center">发货单生成前检查表</strong>
                </h4>
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <!-- 开始：检查表 -->
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            检察项
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="glyphicon glyphicon-list"></span>
                                            总项&nbsp;:&nbsp;
                                            <span class="badge">{{ checkList.totalMessage }}</span>
                                            &nbsp;&nbsp;|&nbsp;&nbsp;
                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                            <span class="text-success">通过</span>&nbsp;:&nbsp;
                                            <span class="badge" style="background:#3c763d;">{{ checkList.passMessage }}</span>
                                            &nbsp;&nbsp;|&nbsp;&nbsp;
                                            <span class="glyphicon glyphicon-warning-sign text-warning"></span>
                                            <span class="text-warning">警告</span>&nbsp;:&nbsp;
                                            <span class="badge" style="background:#a94442;">{{ checkList.warningMessage }}</span>
                                            &nbsp;&nbsp;|&nbsp;&nbsp;
                                            <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                                            <span class="text-danger">失败</span>&nbsp;:&nbsp;
                                            <span class="badge" style="background:#8a6d3b;">{{ checkList.dangerMessage }}</span>
                                        </th>
                                        <th>操作/结果</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="message in checkList.messageList">
                                        <td class="{{ message.isPass ? checkList.successMessageTextColorClass : checkList.errorMessageTextColorClass[message.type] }}">
                                            <span class="{{ message.isPass ? checkList.successMessageIcon : checkList.errorMessageIcon[message.type] }}"></span>
                                            {{ message.isPass ? message.successMsg : message.errorMsg }}
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="{{ ! message.isPass ? checkList.errorMessageBtnClass[message.type] : '' }}" ng-click="message.triggerScopeMethod" ng-show=" ! message.isPass && message.isActionBtnShow ">{{ message.actionBtnText }}</a>
                                            <a href="javascript:;" class="{{ checkList.errorMessageNonActionBtnClass }}" ng-show=" ! message.isPass && ! message.isActionBtnShow " ng-disabled="true">请看提示信息!</a>
                                            <a href="javascript:;" class="{{ checkList.successMessageNonActionBtnClass }}" ng-show=" message.isPass " ng-disabled="true">检查通过！</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 结束：检查表 -->
                        </div>
                        <div class="form-group">
                            <ui-select ng-model="shop.selected">
                                <ui-select-match placeholder="快递公司">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="shop in shops | filter: $select.search">
                                    <div ng-bind-html="shop.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model="startShipmentNumber" placeholder="起始快递单号" />
                        </div>
                        <div class="form-group pull-right">
                            <a href="javascript:;" class="btn btn-warning" ng-click="closeGenerateShipmentSlide()">取消</a>
                            <a href="javascript:;" class="btn btn-success" ng-click="generateFinalShipment()">生成</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>