<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="purchaseOrderDelivery">收货单管理</a></li>
    <li class="active">采购单收货</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                采购单收货
                <span class="pull-right">收货时间 : {{ receiveTime | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <p class="text-info">右边为收货单列表， 左边为需要采购的商品清单， 选择左边列表的商品，添加到右边列表</p>

            <p class="text-info">默认添加按钮会忽略输入的数量，一次性把左边选中的商品，全数添加到右边的列表</p>
        </div>
        <hr style="margin: 0">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <form name="itemAddForm" class="form-horizontal" novalidate>
                        <div class="form-group col-md-12">
                            <h3>添加新商品</h3>
                        </div>
                        <div class="form-group has-feedback"
                             ng-class="{'has-success':(itemAddForm.name.$dirty && itemAddForm.name.$valid), 'has-warning':(itemAddForm.name.$dirty && itemAddForm.name.$invalid) }">
                            <label class="control-label col-md-3">名称 <span class="text-danger">*</span></label>

                            <div class="col-md-9">
                                <input type="text" name="name" ng-model="purchaseOrderDeliveryItem.supplierProduct.supplierProductName"
                                       placeholder="(必填)" class="form-control"/>
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show="itemAddForm.name.$dirty && itemAddForm.name.$valid"></span>
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback"
                                      ng-show="itemAddForm.name.$dirty && itemAddForm.name.$invalid"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-3">价格</label>

                            <div class="col-md-9">
                                <input type="number"
                                       ng-model="purchaseOrderDeliveryItem.realPurchaseUnitPrice" placeholder="(选填)"
                                       class="form-control" ng-blur="rebuildPriceNumeric( purchaseOrderDeliveryItem, 'realPurchaseUnitPrice' )"/>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-3">数量 <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input type="number" name="receiveQty"
                                       ng-model="purchaseOrderDeliveryItem.receiveQty" placeholder="(必填)"
                                       class="form-control" ng-blur="rebuildQtyNumeric( purchaseOrderDeliveryItem, 'receiveQty' )"/>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-3">保质期 </label>

                            <div class="col-md-9 sandbox-container">
                                <input type="text" class="form-control" ng-model="purchaseOrderDeliveryItem.expireDate"
                                       placeholder="(选填，YYYY-MM-DD)">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-3">备注 </label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="purchaseOrderDeliveryItem.comment"
                                       placeholder="(选填)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="button" class="btn btn-success btn-lg"
                                        ng-click="saveItem(purchaseOrderDeliveryItem, itemAddForm)"
                                        ng-disabled="!itemAddForm.$valid">添加
                                </button>
                                <button type="button" class="btn btn-danger btn-lg"
                                        ng-click="defaultAdd(purchaseOrderDeliveryItem, itemAddForm)"
                                        ng-disabled="!itemAddForm.$valid">默认添加
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <table class="table table-condensed clear-marginbottom-table">
                        <thead>
                            <tr>
                                <th width="30%">商品</th>
                                <th width="10">实际采购价格</th>
                                <th width="10">数量</th>
                                <th width="16%">保质期</th>
                                <th width="20%">备注</th>
                                <th width="14%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items | orderBy: ['supplierProduct.supplierProductName', 'supplierProduct.product.name']">
                                <td>
                                    {{ item.supplierProduct.product ? item.supplierProduct.product.name : item.supplierProduct.supplierProductName }}
                                </td>
                                <td>
                                    <input type="number" ng-model="item.realPurchaseUnitPrice" placeholder="(选填)"
                                           class="form-control input-sm" ng-blur="rebuildPriceNumeric( item, 'realPurchaseUnitPrice' )" />
                                </td>
                                <td>
                                    <input type="number" ng-model="item.receiveQty" placeholder="(必填)"
                                           class="form-control input-sm" ng-blur="rebuildQtyNumeric( item, 'receiveQty' )"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="item.expireDate" placeholder="(选填，YYYY-MM-DD)"
                                           class="form-control input-sm">
                                </td>
                                <td>
                                    <input type="text" ng-model="item.comment" placeholder="(选填)"
                                           class="form-control input-sm">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="copyItem(item)">
                                        <span class="glyphicon glyphicon-duplicate"></span> 克隆
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="showRemoveItemModal(item)">
                                        <span class="glyphicon glyphicon-trash"></span> 删除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <button type="button" class="btn btn-success btn-lg pull-right" ng-click="showConfirmReceiveModal()">
                                收货确认
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="removeItem">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">移除收货详情</h3>
            </div>
            <div class="modal-body">
                <p>
                    确定从收货列表中移除该商品？
                </p>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" ng-click="removeItem()">移除</button>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmReceive">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">收货确认</h3>
            </div>
            <div class="modal-body">
                <p>
                    确定收货列表中商品为实际收到的货物？点击［生成收货单］按钮生成收货单。
                </p>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" ng-click="confirmReceive()">生成收货单</button>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>