<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li class="active">收货单管理</li>
    <li class="pull-right" id="breadcrumb-li">
        <a href="javascript:void(0)" class="btn btn-info btn-xs" ui-sref="purchaseOrderDelivery.purchaseOrderDeliveryGenerate">创建收货单</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <form name="searchForm" novalidate ng-submit="search()">
            <table class="table table-condensed clear-marginbottom-table">
                <thead>
                    <tr>
                        <td width="12%">
                            <ui-select ng-model="query.warehouse" theme="bootstrap">
                                <ui-select-match placeholder="收货仓库">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                                    <div ng-bind-html="warehouse.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td width="12%">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="query.purchaseOrderId" placeholder="采购单号" />
                            </div>
                        </td>
                        <td width="12%">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="query.purchaseOrderDeliveryId" placeholder="收货单号" />
                            </div>
                        <td width="9%">
                            <input type="text" class="form-control" ng-model="query.queryPurchaseOrderId" placeholder="采购单号" />
                        </td>
                        <td width="9%">
                            <input type="text" class="form-control" ng-model="query.queryPurchaseOrderDeliveryId" placeholder="收货单号" />
                        </td>
                        <td width="20%">
                            <div class="form-group">
                                <div class="input-daterange input-group">
                                    <input type="text" class="form-control" placeholder="收货起始时间" ng-model="query.queryReceiveTimeStart">
                                    <span class="input-group-addon">到</span>
                                    <input type="text" class="form-control" placeholder="收货结束时间" ng-model="query.queryReceiveTimeEnd">
                                </div>
                            </div>
                        </td>
                        <td width="44%">
                            <div class="form-group pull-right">
                                <button type="reset" class="btn btn-default" ng-click="reset()">
                                    <span class="glyphicon glyphicon-refresh"></span> 重置
                                </button>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </form>
        <div class="panel-body" style="padding:0"></div>
        <table class="table table-condensed clear-marginbottom-table" ng-show="page.content.length > 0">
            <thead>
                <tr>
                    <th width="2%">
                        <input type="checkbox" name="orderId" ng-model="isCheckedAll" ng-click="checkAllPurchaseOrderDeliveries()">
                    </th>
                    <th width="21%">收货仓库</th>
                    <th width="8%">收货单号</th>
                    <th width="8%">采购单号</th>
                    <th width="15%">状态</th>
                    <th width="15%">已入库/应入库</th>
                    <th width="15%">收货时间</th>
                    <th width="10%">收货人</th>
                    <th width="8%" style="padding: 2px">
                        <select class="form-control input-sm" ng-change="batchManipulation()" ng-model="batchManipulationValue">
                            <option selected="selected" value="batchManipulation">批量操作</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseOrderDelivery in page.content">
                    <td>
                        <input type="checkbox" ng-model="purchaseOrderDelivery.isSelected">
                    </td>
                    <td>
                        <pan ng-repeat="batch in purchaseOrderDelivery.batches">
                            {{ $index > 0 ? ',' : '' }} {{ batch.warehouse.name }}
                        </pan>
                    </td>
                    <td>
                        {{ purchaseOrderDelivery.id }}
                    </td>
                    <td>
                        {{ purchaseOrderDelivery.purchaseOrderId }}
                    </td>
                    <td ng-switch on="purchaseOrderDelivery.status">
                        <span ng-switch-when="1">待入库</span>
                        <span ng-switch-when="2">已入库</span>
                        <span ng-switch-when="3">作废</span>
                        <span ng-switch-when="4">部分入库</span>
                    </td>
                    <td>
                        <span class="text-success">{{purchaseOrderDelivery.enteredQty}}</span>/<span class="text-warning">{{purchaseOrderDelivery.enterableQty}}</span>
                    </td>
                    <td>
                        {{ purchaseOrderDelivery.receiveTime | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </td>
                    <td>
                        {{ purchaseOrderDelivery.receiveUser.username }}
                    </td>
                    <td>
                        <a ui-sref="purchaseOrderDelivery.enterInventory({id:purchaseOrderDelivery.id})" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> 入库
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="20">
                        <nav class="page-list">
                            <ul class="pagination pagination-sm">
                                <li ng-class="{disabled: page.first}">
                                    <a href="" ng-click="turnPage(page.number - 1)">&laquo;</a>
                                </li>
                                <li ng-repeat="i in totalPagesList" ng-class="{active: i == page.number}">
                                    <a href="" ng-click="turnPage(i)">{{i+1}}</a>
                                </li>
                                <li ng-class="{disabled: page.last}">
                                    <a href="" ng-click="turnPage(page.number + 1)">&raquo;</a>
                                </li>
                            </ul>
                            <div class="page-total">
                                共 <strong>{{ page.totalElements }}</strong> 条, 每页显示
                                <select class="form-control" style="display: inline; padding:0" ng-model="pageSize" ng-options="value for value in [10, 20, 30, 40, 50]" ng-change="turnPage(0)">
                                </select>
                            </div>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-body" ng-show="page.content.length == 0">
            <div class="alert alert-warning">没有任何数据被检索到</div>
        </div>
    </div>
</div>
<!-- obsoleteShipments Modal -->
<div class="modal fade" id="obsoleteShipments">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">作废批量选中的发货单</h3>
            </div>
            <div class="modal-body">
                <p>确定作废批量选中的发货单？注意，该操作不可逆！</p>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" ng-click="obsoleteShipments()">确认作废</button>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- obsoleteShipment Modal -->
<div class="modal fade" id="obsoleteShipment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">作废该发货单</h3>
            </div>
            <div class="modal-body">
                <p>确定作废该发货单？注意，该操作不可逆！</p>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" ng-click="obsoleteShipment()">确认作废</button>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

